{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- external style sheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c883358289.js" crossorigin="anonymous"></script>
    <title>WebForU</title>
</head>

<style>
    body {
        /* placeholder buat image */
        padding-top: 49px;
        min-height: 100vh;
        background-color: #F0F2F5;
        color: #ffffff;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    .forumBGHeader {
        position: relative;
        width: 100%;
        max-width: 1600px;
        height: 30vw;
        background-color: black;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .forumHeader {
        /* [...] FORUM */
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 7.2vw;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke: 0.5vw #000000;
        word-wrap: normal;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .animeHeader {
        background-image: url('https://static.zerochan.net/Fate.stay.night.full.1876724.jpg');
        background-size: cover;
    }

    .gameHeader {
        background-image: url('https://coverfiles.alphacoders.com/460/46079.jpg');
        background-size: cover;
    }

    .memeHeader {
        background-image: url('https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701401575.jpg');
        background-size: cover;
    }
    
    #content {
        width: 100%;
        margin-top: 80px;
        margin-bottom: 80px;
        min-height: 50vh;

        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    .postsBox {
        flex: 3;
        margin: 0vw 2vw 0vw 0vw;
        display: flex;
        justify-content: center;

    }
    .sideBox {
        flex: 1;
        display: flex;
        justify-content: center;
        height: fit-content;
    }

    .postCard {
        width: 100%;
        padding: 15px 15px 15px 20px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        background-color: #ffffff;
        text-align: left;
    }
    .postCard:hover {
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    }
    .postCard p {
        color: black;
        padding: 2px 0;
    }

    .forumCard {
        width: 100%;
        height: fit-content;
        padding: 20px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 12px;

        background-color: #ffffff;
        color: #000000;
    }
    .forumCard p{
        text-align: left;
        padding: 5px 0;
    }
    .fbtn {
        margin-top: 17px;
        width: 100%;
        padding: 5px;
        text-align: center;
        border-radius: 20px;
        background-color: #F0F2F5;
        color: #808080;
    }
    .fbtn:hover {
        color: #ffffff;
        background-color:#3A3B3C;
    }

    footer {
        color: #000000;
    }

@media only screen and (max-width: 800px) {
    a, p {
        font-size: 12px;
    }
    #content {
        margin-top: 0;
    }
    .sideBox{
        flex: 100%;
        margin-bottom: 30px;
    }
    .postsBox {
        margin: 0;
    }
    .forumCard {
        margin-bottom: 0;
    }
}
</style>

<body>
    {% include 'navbar.html' %}

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>
