{% extends 'forum_base.html' %}
{% load static %}

{% block header %}
    <div class='forumBGHeader animeHeader'>
        <div class="forumHeader">
            ANIME FORUM
        </div>
    </div>
{% endblock header %}
    

{% block content %}
    <!-- Content -->
    <div id="content" class="container">
        <div class="sideBox">
            <div class="forumCard">
                <div class="fCardContent">
                    <p>ANIME FORUM</p>
                    <p style="font-family: Orbitron; font-weight: 700; font-size: 24px;">
                        {{ tally }} Post(s)
                    </p>
                    <a href="{% url 'anime_forum:create' %}">
                        <div class="fbtn">
                            Add Post
                        </div> 
                    </a>
                    <a href="{% url 'informative_page' %}">
                        <div class="fbtn">
                            Rules
                        </div> 
                    </a>
                </div>
            </div>
        </div>
        <div class="postsBox">
            <table style="width: 100%;">
                {% for post in posts %}
                <tr>
                    <td class="postCard">
                        <a href="{% url 'anime_forum:details' post.id %}">
                            <p style="font-weight: 700;">{{ post.title }}</p>
                            <p>{{ post.name }}</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 20px;">

                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>      
    </div>

{% endblock content %}
