
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- external style sheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c883358289.js" crossorigin="anonymous"></script>
    <title>WebForU</title>
</head>

<style>
/* internal style sheet */
    body {
        /* placeholder buat image */
        min-height: calc(100vh - 49px);
        background-color: #F0F2F5;
        color: black;
    }

    .forumBGHeader {
        position: relative;
        width: 100%;
        max-width: 1600px;
        height: 30vw;
        margin-top: 40px;
        background-color: black;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .forumHeader {
        /* [...] FORUM */
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 7.2vw;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke: 0.5vw #000000;
        word-wrap: normal;
        color: #ffffff;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .animeHeader {
        background-image: url('https://static.zerochan.net/Fate.stay.night.full.1876724.jpg');
        background-size: cover;
    }

    .gameHeader {
        background-image: url('https://coverfiles.alphacoders.com/460/46079.jpg');
        background-size: cover;
    }

    .memeHeader {
        background-image: url('https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701401575.jpg');
        background-size: cover;
    }

    .addpost {
        font-family: 'Orbitron';
        font-weight: bold;
        font-size: 18px;
        color: black;

        display: flex;
        justify-content: center;
        text-align: center;
    }

    .formBox {
        display: flex;
        justify-content: center;
    }

    form{
        width: 100%;
        margin: 0 auto;
        padding: 60px 0;
    }

    input[type=text], input[type=file], select, textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 20px;
        box-sizing: border-box;
    }

    input[type=submit] {
        float: right;
        min-width: 100px;
        background-color: #22211d;
        color: white;
        padding: 10px 15px;
        margin: 8px 0;
        border: none;
        border-radius: 25px;
        cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: #3A3B3C;
    }

    footer {
        color: #000000;
    }

@media only screen and (max-width: 800px) {
    .addpost {
        font-size: 14px;
    }
    form{
        width: 85%;
    }
}
</style>

<body>
    {% include 'navbar.html' %}

    {% block header %}
    {% endblock header %}
    <div style="height: 80px;">
    </div>

    <div class='addpost'>
        <h1>
            ADD POST
        </h1>
    </div>

    {% block content %}
    {% endblock content %}

</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>
