{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- external style sheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c883358289.js" crossorigin="anonymous"></script>
    <title>WebForU</title>
</head>

<style>
    head {
        color: #000000;
    }
    body {
        /* placeholder buat image */
        min-height: calc(100vh - 49px);
        background-color: #F0F2F5;
        color: black;
    }


    .forumBGHeader {
        position: relative;
        width: 100%;
        max-width: 1600px;
        height: 30vw;
        background-color: black;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .forumHeader {
        /* [...] FORUM */
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 7.2vw;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke: 0.5vw #000000;
        word-wrap: normal;
        color: #ffffff;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .animeHeader {
        background-image: url('https://static.zerochan.net/Fate.stay.night.full.1876724.jpg');
        background-size: cover;
    }

    .gameHeader {
        background-image: url('https://coverfiles.alphacoders.com/460/46079.jpg');
        background-size: cover;
    }

    .memeHeader {
        background-image: url('https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701401575.jpg');
        background-size: cover;
    }

    #content {
        width: 100%;
        margin-top: 8vw;
        min-height: 60vh;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headerTxt {
        text-align: left;
        width: 80%;
    }

    .postTitle {
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 36px;
    }
    .postContentBox {
        width: 80%;
        margin: 5vw 0px 80px 0px;
        background-color: #ffffff;
        color: #000000;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .postContent {
        margin: 5vw 5vw 0vw 5vw;
    }
    .postImage {
        margin: 0vw 5vw 5vw 5vw;
        width: 80%;
        height: auto;
    }
    footer {
        color: #000000;
    }
</style>


<body>
    
    {% include 'navbar.html' %}

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>

