{% extends 'forum_base.html' %}
{% load static %}


{% block header %}
    <div class='forumBGHeader gameHeader'>
        <div class="forumHeader">
            GAMING FORUM
        </div>
    </div>
{% endblock header %}

{% block content %}
 <div id="content" class="container">
        <div class="sideBox">
            <div class="forumCard">
                <div class="fCardContent">
                    <p>GAMING FORUM</p>
                    <p style="font-family: Orbitron; font-weight: 700; font-size: 24px;">
                        {{ tally }} Post(s)
                    </p>
                    <a href="{% url 'gaming_forum:tambahpost' %}">
                        <div class="fbtn">
                            Add Post
                        </div> 
                    </a>
                    <a href="{% url 'informative_page' %}">
                        <div class="fbtn">
                            Rules
                        </div> 
                    </a>
                </div>
            </div>
        </div>
    <div class="postsBox">
            <table style="width: 100%;">
                {% for post in posts %}
                <tr>
                    <td class="postCard btn-light">
                        <a href="{% url 'gaming_forum:postdetail' post.id %}">
                            <p style="font-weight: 700;">{{ post.title }}</p>
                            <p>{{ post.name }}</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 20px;">

                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
 </div>
        
{% endblock content %}
