{% extends 'forum_add_base.html' %}
{% load static %}

{% block header %}
    <div class='forumBGHeader gameHeader'>
        <div class="forumHeader">
            GAMING FORUM
        </div>
    </div>
{% endblock header %}

{% block content %}
    <form action='' method="POST" enctype="multipart/form-data">
        <div class="formBox">
            <table style="display: flex; flex-direction: column;">
            {% csrf_token %}
                <tr>
                    <td>
                        Title :
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.title }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Username :
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Content :
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.content }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Media :
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.image }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Save" class="btn btn-light"/>
                    </td>
                </tr>    
            </table>
            <p></p>
        </div>
    </form>
{% endblock content %}
