{% extends 'index.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    #base{
        background-image: url("https://i.makeagif.com/media/8-02-2016/yYXxa_.gif");
        background-size: cover;
        color: #FAFAFA;
    }

    .menu {
        padding-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu a {
        font-family: 'Orbitron', sans-serif;
        padding: 10px 25px;
        margin: 10px 20px;
        border-radius: 30px;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        color: #FAFAFA;
        background-color:#434051ad;
        border: 1px solid rgba(255, 255, 255, 0.432);
    }

    .menu a:hover {
        background-color: #FAFAFA;
        color: black;
        font-weight: bold;
    }

    #rules, #about, #support, #contact {
        padding-top: 75px;
    }

    h1 {
        font-family: 'Orbitron', sans-serif;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .content {
        margin-top: 35px;
        margin-bottom: 50px;
        padding: 25px;
        background-color: black;
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.432);
    }

    .flex-row {
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 10px 0;
        border-radius: 15px;
    }

    input[type=submit] {
        float: center;
        min-width: 100px;
        color: #FAFAFA;
        background-color:#434051ad;
        padding: 6px 10px;
        margin: 8px 0;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #FAFAFA;
        color:#434051ad;
    }

    img {
        height: 350px;
        width: 250px;
    }

    .fa {
        margin: 35px 20px;
        font-size: 64px;
        text-align: center;
        text-decoration: none;
        color: #FAFAFA;
    }

    .fa:hover {
        color: #434051ad;
    }

    @media only screen and (max-width: 800px) {

    .menu {
        display: flex;
        flex-direction: column;
    }

    .menu a {
        font-size: 12px;
    }

    #rules, #about, #support, #contact {
        padding-top: 50px;
    }

    img {
        margin-top: 30px;
        height: 210px;
        width: 150px;
    }

    h3 {
        font-size: 16px;
    }
    }
</style>
{% endblock style %}

{% block content %}
<div id="base">
    <div class="container">
        <div class="menu">
            <a href="#rules">FORUM RULES</a>
            <a href="#about">ABOUT US</a>
            <a href="#support">SUPPORT US</a>
            <a href="#contact">CONTACT US</a>              
        </div>
    </div>
    <div id="rules" class="container">
        <h1>FORUM RULES</h1>
        <div class="content">
            <p>>>> Make posts in its relevant forum.</p>
            <p>>>> ANY form bullying will not be tolerated.</p>
            <p>>>> Racism and any form of harassment will not be tolerated.</p>
            <p>>>> It is advised that you don't post your personal information here.</p>
            <p>>>> Avoid using your real name.</p>  
            <p>>>> DO NOT post link to other sites.</p>
            <p>>>> DO NOT post gore/nude/disgusting content.</p>   
            <p>>>> Posting art that isn't yours should always be accompanied with credit.</p>   
            <p>>>> NO SPOILER. NO. SPOILER. N O. S P O I L E R.</p>   
        </div>
    </div>
    <div id="about" class="container">
        <h1>ABOUT US</h1>
        <div class="content">
            <p>>>> With an ongoing global pandemic and everyone (supposedly) in quarantine, people are desperate for any form of entertainment and human contact. This app provides just that. A place where you can meet new people of similar entertainment interest(s).</p>
        </div>
    </div>
    <div id="support" class="container">
        <div class="flex-row">
            <img src="static/img/paimon.png" alt="paimon">
            <div class="flex-col">
                <h3 style="font-weight: lighter;">help us improve</h3>
                <form method="POST" style="text-align: center;">
                    {% csrf_token %}
                    {{ feedback_form }}
                    <br>
                    <input class="btn" type="submit" value="submit">
                </form>
                {% if feedback_count == 0 %}
                <p>Tell us what do you think about WebForU.</p>
                {% else %}
                <p>We've got {{feedback_count}} feedbacks from our weebs.</p>
                <p>Thank you for supporting us!</p>
                {% endif %}
            </div>
            <img src="static/img/paimon.png" alt="paimon">
        </div>
    </div>
    <div id="contact" class="container">
        <h1>CONTACT US :</h1>
        <div class="flex-row">
            <a href="https://twitter.com/d02_tk1" class="fa fa-twitter"></a>
            <a href="https://www.facebook.com/kita.webforu/" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/d02.tk1/" class="fa fa-instagram"></a>
        </div>
    </div>
</div>
{% endblock content %}