* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'DM Mono', monospace;
}
  
html {
    scroll-behavior: smooth;
}
  
.container {
    max-width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
    height: 100%;
}
  
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
  
.hide{
    display: none;
}

@media only screen and (max-width: 800px) {
    p {
        font-size: 12px;
    }
  
    .container {
        min-width: 300px;
        padding: 30px;
    }
}
  